/*项目样式*/
.dataVisual-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
}
.dataVisual-wrap .title {
  width: 100%;
  padding-top: 9%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  /* background: url(../img/logo2.png) no-repeat center top; */
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}
.dataVisual-con {
  padding: 0;
  margin-top: 9%;
  list-style: none;
  overflow: hidden;
  float: left;
  background: #162238;
}
.dataVisual-item {
  display: inline-block;
  min-width: 100px;
  width: calc(100% - 10px);
  margin: 0 5px;
  vertical-align: top;
}
.dataVisual-item-t {
  padding-bottom: 72%;
  position: relative;
}
.dataVisual-item-t > div.dataVisual-bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*css 背景边框*/
.numbox {
  /* border: #2d3a4b solid 1px; */
  position: relative;
  background: #1e2c47;
}
.numbox .line {
  position: absolute;
  background-color: #409eff;
}
.numbox .line.m {
  -webkit-animation: move 10s linear infinite;
  -moz-animation: move 10s linear infinite;
  -ms-animation: move 10s linear infinite;
  -o-animation: move 10s linear infinite;
}
.numbox .line.x {
  width: 6px;
  height: 2px;
}
.numbox .line.y {
  width: 2px;
  height: 6px;
}
.numbox .line.t {
  top: -1px;
}
.numbox .line.b {
  bottom: -1px;
}
.numbox .line.l {
  left: -1px;
}
.numbox .line.r {
  right: -1px;
}
.numbox .numb {
  width: 100%;
  height: 100%;
  position: absolute;
}
@keyframes move {
  0% {
    top: -1px;
    left: 0;
    width: 6px;
    height: 2px;
  }
  40% {
    top: -1px;
    left: 95%;
    width: 6px;
    height: 2px;
  }
  40.001% {
    left: auto;
    right: -1px;
    width: 2px;
    height: 6px;
  }
  50% {
    left: auto;
    right: -1px;
    width: 2px;
    height: 6px;
    top: 95%;
  }
  50.001% {
    top: auto;
    bottom: -1px;
    width: 6px;
    height: 2px;
    right: -1px;
  }
  90% {
    top: auto;
    bottom: -1px;
    width: 6px;
    height: 2px;
    left: auto;
    right: 95%;
  }
  90.001% {
    right: auto;
    left: -1px;
    width: 2px;
    height: 6px;
    top: auto;
    bottom: -1px;
  }
  100% {
    right: auto;
    left: -1px;
    width: 2px;
    height: 6px;
    bottom: 95%;
  }
}
@-webkit-keyframes move {
  0% {
    top: -1px;
    left: 0;
    width: 6px;
    height: 2px;
  }
  40% {
    top: -1px;
    left: 95%;
    width: 6px;
    height: 2px;
  }
  40.001% {
    left: auto;
    right: -1px;
    width: 2px;
    height: 6px;
  }
  50% {
    left: auto;
    right: -1px;
    width: 2px;
    height: 6px;
    top: 95%;
  }
  50.001% {
    top: auto;
    bottom: -1px;
    width: 6px;
    height: 2px;
    right: -1px;
  }
  90% {
    top: auto;
    bottom: -1px;
    width: 6px;
    height: 2px;
    left: auto;
    right: 95%;
  }
  90.001% {
    right: auto;
    left: -1px;
    width: 2px;
    height: 6px;
    top: auto;
    bottom: -1px;
  }
  100% {
    right: auto;
    left: -1px;
    width: 2px;
    height: 6px;
    bottom: 95%;
  }
}
.v-charts-component-loading {
  background-color: #12234f;
}
.v-charts-data-empty {
  background-color: #12234f;
}
